header{
    width: 100%;
}
.header__title{
    text-align: center;
        a{
            text-decoration: none;
            color: black;
        }
}
.header__search{
    background-color: rgb(234, 234, 234);
    padding: 1.3rem 0 1.3rem 0;
    text-align: center;
        i{
            font-size: 1.2rem;
        }
}

// Menu header

.header__food{
        object-fit: cover;
        width: 100%;
}
