@import "../utils/variable";
@import "../utils/mixins";
// Header Main Page
header{
    width: 100%;
}
.header__title{
    @include header-title;
}
.header__search{
    background-color: rgb(234, 234, 234);
    padding: 1.3rem 0 1.3rem 0;
    text-align: center;
    box-shadow: inset 0px 3px 6px 0px #353535a1;
        i{
            font-size: 1.2rem;
        }
}

// Menu Header  
.header2{
    display: flex;
    align-items: baseline;
        &__arrow{
            color: $color-footer;
            font-size: 1.5rem;
            padding-left: 1rem;
        }
        &__title{
            @include header-title;
                width: 80%;
        }    
}
.header2__food{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

//_Breakpoints_Desktop
@include desktop{
    .header2{
        &__title{
            width: 90%;
        }
        &__food{
            height: 30rem;
        }
    }
}

//_Breakpoints_tablet
@include tablet{
    .header2{
        &__food{
            height: 25rem;
        }
    }
}
