@import "../utils/variable";
@import "../utils/mixins";
.main2{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: $color-back;
        .main2__container{   
            width: 90%;
            margin: auto;
                h1{
                    margin-top: 0;
                    padding-top: 2rem;
                }
        }
}
.menu{
    
        button{
            @include search-command;
        }
}
