@import "../utils/variable";
@import "../utils/mixins";
.main2{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: $color-back;
    margin-top: -2rem;
    position: relative;
    padding-bottom: 3rem;
        &__container{   
            width: 90%;
            margin: auto;
        }
        &__title{
            display: flex;
            align-items: baseline;
                
             h1{
                 margin-top: 0;
                 padding-top: 2rem;
                 font-weight: 300;
            }
            i{
                align-self: baseline;
                 margin-left: 3.5rem;
             }
        }
}
.menu{
        &__title{
            font-weight: 300;   
            margin-bottom: 0.3rem;        
        }
        &__line{
            border: solid;
            border-width: 2px;
            border-color: $color-tertiaire;
            margin-bottom: 2rem;
            width: 15%;
        }
        &__puce{
            @include shadow;
            background-color: white;
            border-radius: 1rem;
            padding: 0.6rem;
            margin-bottom: 1rem;
                h3{
                    margin: 0;
                    }
        }
        &__flex{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
                p{
                    margin-bottom: 0.3rem;
                    margin-top: 0.5rem;
                }
                span{
                    font-weight: bold;
                }
        }
        
        button{
            @include search-command;
            margin-top: 2rem;
            padding: 0 2rem;
        }
}
