@import "../utils/variable";
@import "../utils/mixins";
.main2{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: $color-back;
    margin-top: -2rem;
    position: relative;
    padding-bottom: 3rem;
        &__container{   
            width: 90%;
            margin: auto;
        }
        &__border{
            @include heart;
        }
        &__title{
            display: flex;
            align-items: baseline;
                
             h1{
                 margin-top: 0;
                 padding-top: 2rem;
                 font-weight: 300;
            }
            i{
                align-self: baseline;
                 margin-left: 3.5rem;
                 cursor: pointer;
             }
        }
        &__size{
            font-size: 1.6rem;
        }
}
.menu{
        &__title{
            font-weight: 300;   
            margin-bottom: 0.3rem;        
        }
        &__line{
            border: solid;
            border-width: 2px;
            border-color: $color-tertiaire;
            margin-bottom: 2rem;
            width: 15%;
        }
        &__puce{
            @include shadow;
            background-color: white;
            border-radius: 1rem;
            padding: 0.6rem;
            margin-bottom: 1rem;
            cursor: pointer;
                h3{
                    margin: 0;
                    }
        }
        &__flex{
            display: flex;
            justify-content: space-between;
            min-width: 0;
                p{
                    margin-bottom: 0.3rem;
                    margin-top: 0.5rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .price{
                    font-weight: bold;
                    margin-bottom: -3px;
                    align-self: center;
                }
        }
        button{
            @include search-command;
            margin-top: 2rem;
            padding: 0 2rem;
        }
}
//_Breakpoints_Desktop
@include desktop{
    .main2{
        &__container{
            width: 98%;
        }
        &__title{
            justify-content: center;
        }
    }
    .menu{
        &__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1.7rem;
        }
        &__puce{
            padding: 0.6rem 0.49rem;
        }
    }
}

//_Breakpoints_tablet
@include tablet{
    .main2{
        &__title{
            justify-content: center;
        }
    }
}
