@import "../utils/variable";
.operation{
    padding-top: 2rem;
    width: 90%;
    margin: auto;
        &__puce{
            margin-bottom: 5%;
        }
        &__number{
            border-radius: 1rem;
            position: absolute;
            padding: 0.4rem 0.6rem;
            background: $color-primary;
            color: white;
            margin-left: -15px;
        }
        &__block:hover{
            background-color:rgb(245, 237, 255);
                i{
                    color: $color-primary;
                }
        }
        &__block{
            @include shadow;
            display: flex;
            background: $color-back;
            border-radius: 1rem;
            align-items: center;
            margin-left: 2rem;
            width: 95%;
            margin: auto;
            padding: 1rem 0; 
                p{
                    font-weight: bold;
                }
        }
        &__icon{
            padding-left: 10%;
            margin-right: 5%;
        }
//_Breakpoints
    @include desktop{
        &__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__block{
            padding: 2rem  0;
        }
    }
    @include tablet{
        width: 95%;
        &__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        } 
    }
}