@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
h1 {
  font-family: Shrikhand, sans-serif;
}

body {
  font-family: Roboto, sans-serif;
}

input {
  outline: none;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  width: 11rem;
}

body {
  margin: 0;
}

header {
  width: 100%;
}

.header__title {
  text-align: center;
  margin-bottom: 0;
}
.header__title a {
  text-decoration: none;
  color: black;
}

.header__search {
  background-color: #eaeaea;
  padding: 1.3rem 0 1.3rem 0;
  text-align: center;
}
.header__search i {
  font-size: 1.2rem;
}

.header2 {
  display: flex;
  align-items: baseline;
}
.header2__arrow {
  color: #353535;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.header2__title {
  text-align: center;
  margin-bottom: 0;
  width: 80%;
}
.header2__title a {
  text-decoration: none;
  color: black;
}

.header2__food {
  object-fit: cover;
  width: 100%;
}

.about {
  background: #f6f6f6;
  padding: 3rem 0 3rem 0;
}
.about h2 {
  margin-top: 0;
  text-align: center;
  width: 70%;
  margin: auto;
}
.about p {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 1.5rem 0 1.5rem 0;
}
.about button {
  display: flex;
  margin: auto;
  align-items: center;
  background: #FF79DA;
  border: none;
  border-radius: 5rem;
}
.about button a {
  text-decoration: none;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.1rem;
}

.main2 {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: #f6f6f6;
  margin-top: -2rem;
  position: relative;
  padding-bottom: 3rem;
}
.main2__container {
  width: 90%;
  margin: auto;
}
.main2__title {
  display: flex;
  align-items: baseline;
}
.main2__title h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: 300;
}
.main2__title i {
  align-self: baseline;
  margin-left: 3.5rem;
}

.menu__title {
  border-bottom: solid;
}
.menu__puce {
  background-color: white;
  border-radius: 1rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
}
.menu__puce h3 {
  margin: 0;
}
.menu__flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.menu__flex p {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}
.menu__flex span {
  font-weight: bold;
}
.menu button {
  display: flex;
  margin: auto;
  align-items: center;
  background: #FF79DA;
  border: none;
  border-radius: 5rem;
  margin-top: 2rem;
}
.menu button a {
  text-decoration: none;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.1rem;
}

.operation {
  padding-top: 2rem;
  width: 90%;
  margin: auto;
}
.operation__puce {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.operation__number {
  border-radius: 2rem;
  position: absolute;
  padding: 0 1% 0 1%;
  background: #9356DC;
  color: white;
}
.operation__block {
  display: flex;
  background: #f6f6f6;
  border-radius: 1rem;
  align-items: center;
  margin-left: 2rem;
  width: 95%;
  margin: auto;
  padding: 0.5rem 0 0.5rem 0;
}
.operation__block p {
  font-weight: bold;
}
.operation__icon {
  padding-left: 10%;
  margin-right: 5%;
}

.restaurant {
  background: #f6f6f6;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.restaurant__container {
  width: 90%;
  margin: auto;
}
.restaurant__puce {
  background-color: white;
  border-radius: 1rem;
}
.restaurant__puce a {
  text-decoration: none;
  color: black;
}
.restaurant__new {
  position: absolute;
  background: #99E2D0;
  padding: 0.5rem;
}
.restaurant__heart {
  align-self: center;
  height: 0;
}
.restaurant figure {
  margin: auto;
  margin-bottom: 2rem;
}
.restaurant figure img {
  object-fit: cover;
  width: 100%;
  height: 13rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurant figure figcaption {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
.restaurant figure figcaption h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}
.restaurant figure figcaption p {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

footer {
  background: #353535;
}

.foot {
  color: white;
  width: 90%;
  margin: auto;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}
.foot li {
  padding-bottom: 0.5rem;
}
.foot a {
  text-decoration: none;
  color: white;
}
.foot h1 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: normal;
}
.foot ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}
.foot__icon {
  padding-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
