@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
h1 {
  font-family: Shrikhand, sans-serif;
}

body {
  font-family: Roboto, sans-serif;
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-anime {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}
@keyframes load-bar {
  0% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
input {
  outline: none;
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  width: 11rem;
}

.menu__1 {
  animation: start 2s ease-in-out;
}
.menu__2 {
  animation: start 4s ease-in-out;
}
.menu__3 {
  animation: start 6s ease-in-out;
}
.menu__4 {
  animation: start 8s ease-in-out;
}

.check {
  position: absolute;
  left: 30%;
  bottom: 21.8%;
  background: aquamarine;
  width: 70px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-anime {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(2);
  }
}
@keyframes load-bar {
  0% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.6);
  }
}
body {
  margin: 0;
}

.loader {
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(0deg, #9356DC 17%, #99E2D0 50%, #FF79DA 94%);
  line-height: 100%;
  animation: loader 2s ease-in-out 4s forwards;
  pointer-events: none;
}
.loader__text {
  font-size: 2rem;
  font-family: Shrikhand, sans-serif;
  animation: text-anime 0.5s infinite;
  animation-direction: alternate;
  display: flex;
  justify-content: center;
  margin-top: 25rem;
}

.load {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.load__bar {
  background-color: black;
  height: 5rem;
  width: 1rem;
}
.load__bar--1 {
  animation: load-bar 0.5s infinite;
  animation-direction: alternate;
  animation-delay: 200ms;
  background: linear-gradient(19deg, #99e2d0 0%, #99e2d0 28%, #0b3d3e 71%, #021516 87%);
}
.load__bar--2 {
  right: 38rem;
  margin-left: 0.5rem;
  animation: load-bar 0.5s infinite;
  animation-direction: alternate;
  animation-delay: 400ms;
  background: linear-gradient(19deg, #99e2d0 0%, #99e2d0 28%, #0b3d3e 71%, #021516 87%);
}
.load__bar--3 {
  right: 36rem;
  margin-left: 0.5rem;
  animation: load-bar 0.5s infinite;
  animation-direction: alternate;
  animation-delay: 600ms;
  background: linear-gradient(19deg, #99e2d0 0%, #99e2d0 28%, #0b3d3e 71%, #021516 87%);
}
.load__bar--4 {
  right: 34rem;
  margin-left: 0.5rem;
  animation: load-bar 0.5s infinite;
  animation-direction: alternate;
  animation-delay: 400ms;
  background: linear-gradient(19deg, #99e2d0 0%, #99e2d0 28%, #0b3d3e 71%, #021516 87%);
}
.load__bar--5 {
  right: 32rem;
  margin-left: 0.5rem;
  animation: load-bar 0.5s infinite;
  animation-direction: alternate;
  animation-delay: 200ms;
  background: linear-gradient(19deg, #99e2d0 0%, #99e2d0 28%, #0b3d3e 71%, #021516 87%);
}

header {
  width: 100%;
}

.header__title {
  text-align: center;
  margin-bottom: 0;
}
.header__title a {
  text-decoration: none;
  color: black;
}

.header__search {
  background-color: #eaeaea;
  padding: 1.3rem 0 1.3rem 0;
  text-align: center;
  box-shadow: inset 0px 3px 6px 0px #353535a1;
}
.header__search i {
  font-size: 1.2rem;
}

.header2 {
  display: flex;
  align-items: baseline;
}
.header2__arrow {
  color: #353535;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.header2__title {
  text-align: center;
  margin-bottom: 0;
  width: 80%;
}
.header2__title a {
  text-decoration: none;
  color: black;
}

.header2__food {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}

@media screen and (min-width: 1024px) {
  .header2__title {
    width: 90%;
  }
  .header2__food {
    height: 30rem;
  }
}
@media screen and (min-width: 768px) {
  .header2__food {
    height: 25rem;
  }
}
.about {
  background: #f6f6f6;
  padding: 3rem 0 3rem 0;
}
.about h2 {
  margin-top: 0;
  text-align: center;
  width: 70%;
  margin: auto;
}
.about p {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 1.5rem 0 1.5rem 0;
}
.about button {
  display: flex;
  margin: auto;
  align-items: center;
  background: linear-gradient(0deg, #9356DC 17%, #FF79DA 94%);
  border: none;
  border-radius: 5rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: -3px 1px 16px 0px #353535a1;
}
.about button:hover {
  box-shadow: 2px 2px 9px 4px #000000;
}

.main2 {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: #f6f6f6;
  margin-top: -2rem;
  position: relative;
  padding-bottom: 3rem;
}
.main2__container {
  width: 90%;
  margin: auto;
}
.main2__border {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
.main2__border:hover {
  opacity: 1;
  color: #9356DC;
  transform: scale(1.25);
  font-weight: bold;
}
.main2__title {
  display: flex;
  align-items: baseline;
}
.main2__title h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: 300;
}
.main2__title i {
  align-self: baseline;
  margin-left: 3.5rem;
  cursor: pointer;
}
.main2__size {
  font-size: 1.6rem;
}

.menu__title {
  font-weight: 300;
  margin-bottom: 0.3rem;
}
.menu__line {
  border: solid;
  border-width: 2px;
  border-color: #99E2D0;
  margin-bottom: 2rem;
  width: 15%;
}
.menu__puce {
  box-shadow: -3px 1px 16px 0px #353535a1;
  background-color: white;
  border-radius: 1rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.menu__puce h3 {
  margin: 0;
}
.menu__flex {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}
.menu__flex p {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__flex .price {
  font-weight: bold;
  margin-bottom: -3px;
  align-self: center;
}
.menu button {
  display: flex;
  margin: auto;
  align-items: center;
  background: linear-gradient(0deg, #9356DC 17%, #FF79DA 94%);
  border: none;
  border-radius: 5rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: -3px 1px 16px 0px #353535a1;
  margin-top: 2rem;
  padding: 0 2rem;
}
.menu button:hover {
  box-shadow: 2px 2px 9px 4px #000000;
}

@media screen and (min-width: 1024px) {
  .main2__container {
    width: 98%;
  }
  .main2__title {
    justify-content: center;
  }

  .menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.7rem;
  }
  .menu__puce {
    padding: 0.6rem 0.49rem;
  }
}
@media screen and (min-width: 768px) {
  .main2__title {
    justify-content: center;
  }
}
.operation {
  padding-top: 2rem;
  width: 90%;
  margin: auto;
}
.operation__puce {
  margin-bottom: 5%;
}
.operation__number {
  border-radius: 1rem;
  position: absolute;
  padding: 0.4rem 0.6rem;
  background: #9356DC;
  color: white;
  margin-left: -15px;
}
.operation__block:hover {
  background-color: #f5edff;
}
.operation__block:hover i {
  color: #9356DC;
}
.operation__block {
  box-shadow: -3px 1px 16px 0px #353535a1;
  display: flex;
  background: #f6f6f6;
  border-radius: 1rem;
  align-items: center;
  margin-left: 2rem;
  width: 95%;
  margin: auto;
  padding: 1rem 0;
}
.operation__block p {
  font-weight: bold;
}
.operation__icon {
  padding-left: 10%;
  margin-right: 5%;
}
@media screen and (min-width: 1024px) {
  .operation__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .operation__block {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 768px) {
  .operation {
    width: 95%;
  }
  .operation__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.restaurant {
  background: #f6f6f6;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.restaurant__container {
  width: 90%;
  margin: auto;
}
.restaurant__puce {
  box-shadow: -3px 1px 16px 0px #353535a1;
  background-color: white;
  border-radius: 1rem;
}
.restaurant__puce a {
  text-decoration: none;
  color: black;
}
.restaurant__new {
  position: absolute;
  background: #99E2D0;
  padding: 0.5rem;
  right: 8%;
  border-radius: 0.5rem;
  color: #239277;
}
.restaurant__heart {
  align-self: center;
  height: 0;
}
.restaurant figure {
  margin: auto;
  margin-bottom: 2rem;
}
.restaurant figure img {
  object-fit: cover;
  width: 100%;
  height: 13rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurant figure figcaption h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}
.restaurant figure figcaption p {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.figucaption__flex {
  display: flex;
  justify-content: space-between;
}
.figucaption__flex span {
  margin-top: -1rem;
  margin-right: 2rem;
}
.figucaption__border {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
.figucaption__border:hover {
  opacity: 1;
  color: #9356DC;
  transform: scale(1.25);
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .restaurant__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 4rem;
  }
  .restaurant__grid figure {
    margin-bottom: 0;
  }

  #resto {
    font-size: 2rem;
    margin-left: 4rem;
  }

  #fonctionnement {
    font-size: 2rem;
    margin-left: 6rem;
  }
}
footer {
  background: #353535;
}

.foot {
  color: white;
  width: 90%;
  margin: auto;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}
.foot li {
  padding-bottom: 0.5rem;
}
.foot a {
  text-decoration: none;
  color: white;
}
.foot h1 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: normal;
}
.foot ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}
.foot__icon {
  padding-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
