@import "../utils/keyframes";
input{
    outline: none;
    background-color: inherit;
    border: none;
    font-size: 1.2rem;
    width: 11rem;
}


.menu{
    &__1{
        animation: start 1s ease-in-out;
    }
    &__2{
        animation: start 2s ease-in-out;
    }
    &__3{
        animation: start 3s ease-in-out;
    }
    &__4{
        animation: start 4s ease-in-out;
    }
}
.check{
    position: absolute;
    background: aquamarine;
    width: 29px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    padding: 15px;
    right: 0;
    opacity: 0;
}
.circle{
    font-size: 2rem;
    color: white;
}

