@import "../utils/variable";
@mixin header-title {
    text-align: center;
    margin-bottom: 0;    
        a{
            text-decoration: none;
            color: black;
        }
}
@mixin search-command {
    display: flex;
    margin: auto;
    align-items: center;
    background: linear-gradient(0deg, $color-primary 17%, $color-secondary 94%);
    border: none;
    border-radius: 5rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    padding: 1.2rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    @include shadow;
        &:hover{
            box-shadow: 1px 2px 15px 0px #000000;
            background-color: lighten($color-primary, 8%);
            background-blend-mode: lighten;
        }
}
@mixin shadow {
    box-shadow: -3px 1px 16px 0px #353535a1;
}
@mixin heart {   
        &:hover{
            opacity: 0;
            -webkit-text-fill-color: transparent;
            animation: heart-transition 0.4s 0.1s ease-in-out forwards;
            font-weight: bold;
            background: linear-gradient(182deg, #9356DC 20%, #FF79DA 75%);;
            background-clip: text;
            -webkit-background-clip: text;
        } 
        
}

//_Breakpoint mixin
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
