@mixin header-title {
    text-align: center;
    margin-bottom: 0;
        a{
            text-decoration: none;
            color: black;
        }
}
@mixin search-command {
    display: flex;
    margin: auto;
    align-items: center;
    background: $color-secondary;
    border: none;
    border-radius: 5rem;
        a{
            text-decoration: none;
            color: white;
            padding: 1.2rem 1rem;
            font-size: 1.1rem;
        }
}