@import "../utils/variable";
@mixin header-title {
    text-align: center;
    margin-bottom: 0;    
        a{
            text-decoration: none;
            color: black;
        }
}
@mixin search-command {
    display: flex;
    margin: auto;
    align-items: center;
    background: linear-gradient(0deg, $color-primary 17%, $color-secondary 94%);
    border: none;
    border-radius: 5rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    padding: 1.2rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    @include shadow;
}
@mixin shadow {
    box-shadow: -3px 1px 16px 0px #353535a1;
}
@mixin heart {
    position: absolute;
    opacity: 0;   
        &:hover{
            opacity: 1;
            color: $color-secondary;
        } 
}